language: python

python:
  - "3.6"
os:
  - linux
  #- osx
install:
  - pip install -r requirements.txt
  - pip install coveralls


script:
  - python3 -m unittest discover tests

after_success:
  - coveralls